* {
  margin: 0;
  padding: 0;
}

.Main {
  height: 100vh;
  width: 100%;
  background-color: white;
  font-family: Inter, sans-serif;
}

.navbar {
  font-family: Inter, sans-serif;
  height: 65px;
  padding-left: 175px;
  padding-right: 175px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

#SignIn {
  border-radius: 20px;
  height: 35px;
  width: 70%;
}

.nav-items5 {
  display: flex;
  align-items: center;
  border-radius: 50px;
  height: 37px;
  width: 111px;
  color: white;
  background-color: #002970;
}

#plo {
  margin-left: 2px;
}

#signin {
  margin-left: 11px;
}

.con1 {
  margin-top: 15px;
  margin-left: 400px;
  margin-right: 400px;
  display: flex;
}

.con02 {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.con2 {
  height: 35vh;
  width: 55%;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;

}

.nav {
  height: 60px;
  font-family: "Inter", sans-serif;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

h3 {
  margin-left: 10px;
}

.item {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item1 {
  height: 148px;
  width: 124px;
  margin-right: 2%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item01 {
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item2 {
  height: 148px;
  width: 124px;
  margin-right: 2%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item02 {
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item3 {
  height: 148px;
  width: 124px;
  margin-right: 2%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item03 {
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item4 {
  height: 148px;
  width: 124px;
  margin-right: 2%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item04 {
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item5 {
  height: 148px;
  width: 124px;
  margin-right: 2%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item05 {
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item6 {
  height: 148px;
  width: 124px;
  margin-right: 2%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item06 {
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.con3 {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con4 {
  width: 100%;
  height: 15vh;
  gap: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con5 {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

.co1 img {
  border-radius: 15px;
  display: block;
}

.co2 img {
  border-radius: 15px;
  display: block;
}

.co3 img {
  border-radius: 15px;
  display: block;
}

.con8 {
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  height: 43vh;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.con9 {
  justify-content: center;
  height: 43vh;
  width: 80%;
}

.pay {
  height: 13vh;
  width: 100%;
  display: flex;
}

.first {
  height: 13vh;
  width: 80%;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  gap: 4%;
}

.fight {
  height: 59px;
  width: 61px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: start;
}

.fight1 {
  height: 40px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: start;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.bus {
  height: 59px;
  width: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Bus1 {
  height: 40px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.train {
  height: 59px;
  width: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.train1 {
  height: 40px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.flight2 {
  height: 59px;
  width: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flightin {
  height: 40px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.first1 {
  height: 13vh;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.con10 {
  height: 30vh;
  width: 100%;

}

.con11 {
  width: 100%;
  height: 30vh;
  border: 1px solid black;
  border-radius: 13px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.button {
  width: 100%;
  height: 8vh;
  display: flex;
}

.butt1 {
  margin-top: 19px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #000000;
}

.OneWay {
  margin-top: 1px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.butt2 {
  margin-top: 19px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #000000;
}

.Round {
  margin-top: 1px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con12 {
  border-bottom: 1px solid gray;
  height: 11vh;
  width: 100%;

  display: flex;
}

.delhi {
  padding-left: 10px;
  height: 11vh;
  width: 16%;

  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.mumbai {
  gap: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11vh;
  width: 16%;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11vh;
  width: 16%;
}

.return {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11vh;
  width: 16%;

  color: #00baf2;
}

.class {
  height: 11vh;
  width: 16%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ser {
  height: 11vh;
  width: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 8vh;
  width: 80%;
  background-color: #00baf2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;

}

.con13 {
  height: 11vh;
  width: 100%;
  display: flex;
}

.extra {
  height: 11vh;
  width: 15%;
}

.extra1 {
  padding-left: 10px;
  display: flex;
  align-items: end;
  height: 50%;
  width: 100%;
}

.rupee {
  gap: 2%;
  margin-top: 5px;
  padding-left: 9px;
  display: flex;
  height: 50%;
  width: 100%;
  color: #27ae60;
  font-size: 12px;
  font-weight: 600;
}

.rrr {
  height: 50%;
  width: 100%;
}

.forces {
  height: 11vh;
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.for {
  border: 1px solid grey;
  height: 7vh;
  width: 80%;
  border-radius: 12px;

}

.forr1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5vh;
  width: 100%;
  font-weight: 500;
  line-height: 16px;
}

.forr2 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  height: 3.5vh;
  width: 100%;

}


.student {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11vh;
  width: 13%;

}

.stu {
  border: 1px solid grey;
  height: 7vh;
  width: 80%;
  border-radius: 12px;

}

.stu1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5vh;
  width: 100%;
  font-weight: 500;
  line-height: 16px;
}

.stu2 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  height: 3.5vh;
  width: 100%;

}

.senior {
  height: 11vh;
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sen1 {
  border: 1px solid grey;
  height: 7vh;
  width: 80%;
  border-radius: 12px;

}

.sen2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5vh;
  width: 100%;
  font-weight: 500;
  line-height: 16px;
}

.sen3 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  line-height: 16px;
  height: 3.5vh;
  width: 100%;
}

.last {
  height: 11vh;
  width: 50%;

}

.con14 {
  margin-top: 3%;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con15 {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 80%;

}

.con16 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80%;
}

.con17 {
  height: 60vh;
  width: 80%;
}

.lipi {
  width: 80;
  height: 7vh;

}

.anyone {
  width: 100%;
  height: 20vh;
  font-size: 40px;
  font-family: Inter, sans-serif;
}

.line {
  width: 100%;
  height: 20vh;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  font-family: Inter, sans-serif;

}

.play {
  width: 100%;
  height: 8vh;

}

.con18 {
  justify-content: center;
  height: 80vh;
  width: 50%;
  font-weight: 400;
  font-size: 14px;
}

.con19 {
  height: 13vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.con20 {
  display: flex;
  justify-content: center;
  height: 13vh;
  width: 80%;

}

.con21 {
  display: flex;
  border-radius: 44px;
  height: 10vh;
  width: 100%;
  background: linear-gradient(#0085FE, #00C6F0);
}

.cir {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 8%;
  border-radius: 50;
}

.lines {
  align-items: center;
  display: flex;
  height: 10vh;
  width: 75%;
  font-size: 18px;
  color: #fff;
  font-weight: 600;

}

.more {
  height: 10vh;
  width: 19%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.learn {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  height: 6vh;
  width: 70%;
  border: 1px solid white;
  font-size: 14px;
  font-weight: 600;
  font-family: Inter, sans-serif;
}


.con22 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.con23 {
  height: 100vh;
  width: 80%;
  gap: 1.6%;
  display: flex;
}

.con24 {

  border-radius: 15px;
  height: 120vh;
  width: 50%;

}

.con25 {

  border-radius: 15px;
  height: 120vh;
  width: 100%;
  background-image: url(./con25.png);
  background-size: cover;

}

.con26 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 60vh;
  width: 100%;

}

.con27 {

  align-items: end;
  height: 50vh;
  width: 80%;
  
}

.conn1 {
  display: flex;
  /* justify-content: flex-end; */
  align-items: end;
  width: 100%;
  height: 7vh;

}

.conn2 {

  width: 100%;
  height: 19vh;


}

.li {
  display: flex;
  /* justify-content: flex-end; */
  align-items: end;
  width: 100%;
  height: 9.5vh;
  font-size: 40px;
  color: #000;
  font-weight: 600;
  font-family: "Inter", sans-serif;

}

.lii {
  
  /* justify-content: flex-start; */
  align-items: flex-start;
  align-items: end;
  font-size: 40px;
  color:#00baf2;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 9.5vh;
}

.conn3 {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 10vh;
 font-size: 18px;
    color: #000;
    font-weight: 500;
    line-height: 140%;
    background-color:#27ae60;
}

.conn4 {
  display: flex;
  width: 100%;
  height: 7vh;
  /* background-color: antiquewhite; */
}

.appl1{
  width: 30%;
  height: 7vh;
  background-color: rgb(169, 112, 38);
  
}
.aa{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  height: 6vh;
  width: 70%;
  border: 1px solid white;
  font-size: 14px;
  font-weight: 600;
  font-family: Inter, sans-serif;
}

.appl2{
  width: 70%;
  height: 7vh;
  background-color: rgb(141, 120, 93);
}

.con28 {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;


}


.con29 {
  border-radius: 15px;
  height: 120vh;
  width: 50%;
  background-color: rgb(214, 116, 165);

}