* {
    margin: 0;
    padding: 0;

}

.Main {
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
}

.navbar {

    height: 65px;
    padding-left: 175px;
    padding-right: 175px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
}

#SignIn {
    border-radius: 20px;
    height: 35px;
    width: 70%;
}

.nav-items5 {

    display: flex;
    align-items: center;
    border-radius: 50px;
    height: 37px;
    width: 111px;
    color: white;
    background-color: #002970;


}

#plo {
    margin-left: 2px;
}

#signin {
    margin-left: 11px;
}

.con1 {
    margin-top: 15px;
    margin-left: 400px;
    margin-right: 400px;

}

.con2 {

    margin-top: 20px;
    margin-left: 175px;
    margin-right: 175%;
    height: 35vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    background-color: aqua;


}

.nav {
    height: 60px;
    font-family: 'Inter', sans-serif;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
}

h3 {
    margin-left: 10px;
}

.item {
    width: 57%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
}

.item1 {
    height: 148px;
    width: 124px;
    border: 2px solid black;
    margin-right: 2%;
    margin-left: 2%;
    background-color:green;
}

.item01 {

    height: 74px;
    background-color:goldenrod;

}

.item2 {
    height: 148px;
    width: 124px;
    border: 2px solid black;
    margin-right: 2%;
    margin-left: 2%;

}

.item3 {
    height: 148px;
    width: 124px;
    border: 2px solid black;
    margin-right: 2%;
    margin-left: 2%;

}

.item4 {
    height: 148px;
    width: 124px;
    border: 2px solid black;
    margin-right: 2%;
    margin-left: 2%;

}

.item5 {
    height: 148px;
    width: 124px;
    border: 2px solid black;
    margin-right: 2%;
    margin-left: 2%;

}

.item6 {
    height: 148px;
    width: 124px;
    border: 2px solid black;
    margin-right: 2%;
    margin-left: 2%;

}
.con3{

width: 30%;
background-color: rgb(24, 32, 9);
 
}